/* * {
  margin: 0;
  padding: 0;
}

.wrap {
  display: flex;
  padding: 20px;
}

.wrap>ul {
  width: 200px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  border-radius: 8px;
  background-color: #fafafa;
}

.wrap>ul li {
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #333;
  border-radius: 8px;
}

a:hover {
  background-color: #357;
}

a:hover {
  color: #fff;
}

a.active {
  color: #fff;
  background-color: #357;
}

.wrap>div {
  flex: 1;
  padding-left: 30px;
  box-shadow: 0 2px 6px #f1f1f1;
  border-radius: 4px;
  padding: 10px;
} */